@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

.container {
    background: hsl(212, 45%, 89%); 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1440px;
}

.qr {
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    height: 480px;
    width: 310px;
}

.qr__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 30px;
}
 
img {
    height: 280px;
    width: 280px;
    margin-bottom: 24px;
    border-radius: 10px;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    color: hsl(218, 44%, 22%);
    margin-bottom: 15px;
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

@media screen and (max-width: 375px) {
    .container {
        width: 100%;
        margin: 0 auto;
    }
}